:root {
    --primaryColor: #4db6ac;
    --primaryLightColor: #82e9de;
    --primaryDarkColor: #00867d;
    --primaryDarkColorTransparent: rgba(0, 134, 125, 0.6);
    --secondaryColor: #e57373;
    --secondaryLightColor: #ffa4a2;
    --secondaryDarkColor: #af4448;
    --primaryTextColor: #e8f5e9;
    --secondaryTextColor: #ffebee;
}

@font-face {
    font-family: "b&b";
    src: url("/assets/font/BeautyAndTheBeast.ttf");
}

.writtenLogo {
    font-family: "b&b";
    font-size: 25pt;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(#f4fcfc 60%, #b3b3b3 0%)
}

.min-100 {
    min-height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#splashContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    width: 100%;
    height: 100%;
}

#splashScreen {
    width: 100%;
}

#pageContainer {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

#mobileSplashScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 0%;
    height: 0%;
}

div.leaflet-control-container {
    display: flex;
    justify-content: space-evenly;
}

div.leaflet-control-geosearch.leaflet-geosearch-bar {
    position: relative !important;
    margin: 10px 0 0 0 !important;
}

nav.bg-primary {
    background-color: var(--primaryColor) !important;
}

.leaflet-control-geosearch.leaflet-geosearch-bar form {
    border: 2px solid var(--primaryDarkColor);
}

.leaflet-control-geosearch form input {
    height: 30px;
}

.leaflet-control-layers,
.leaflet-bar {
    box-shadow: 0 2px 6px var(--primaryDarkColor);
}

.leaflet-control-geosearch a.reset {
    color: var(--primaryDarkColor);
    font-size: 20px;
}

.marker-cluster-small {
    background-color: var(--primaryDarkColorTransparent)
}

.marker-cluster-small div {
    background-color: var(--primaryDarkColor);
}

.marker-cluster-small div span {
    color: white;
}
